@page "/"
<input @bind="CurrentValue" />

<Hello Name="@CurrentValue" OnClickCallback="Say">
    <div>I am a body</div>
</Hello>

<div>word: @word</div>

@code {
    private string CurrentValue { get; set; } = "Hello World";

    private string word = "nothing";

    private void Say()
    {
        word = $"je:{Guid.NewGuid().ToString("N")}";
    }
}